body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

#controls {
    text-align: center;
    margin-bottom: 10px;
}

#calendar {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.day {
    padding: 10px;
    background: #f4f4f4;
    text-align: center;
}

.header {
    font-weight: bold;
    background-color: #ccc;
}

.not-current-month {
    color: #666;  /* Lighter text for days not in the current month */
}
